article
  text-align justify
  padding 0.5em
  margin 0em 1em 1em 1em

body
  font-family Arial, Helvetica, sans-serif
  font-size 13px
  margin 0px
  padding 0px
fieldset
  border-radius 0.5em
  label
    display inline-block
    vertical-align middle
footer
  font-size 0.7em

form
  text-align left

h1
h2
h3
  color #0062ab
  margin 0.2em

header
footer
#headerIng
  width 100%
  text-align center
  #logo
    max-width 300px

header
  height 100px
  padding 0.5em 0em
  text-align justify
  position relative
  img
    display inline-block
    vertical-align middle
  #logoEthos
    display none
  #logoSos
    float left

  #nombreUsuario
    text-align right
    margin auto 1em auto auto

  #logoEthos
  #logoSos
    height 80%
    margin 0.1em

input[type='button']
  color #0077a1

input[type='text']
input[type='tel']
input[type='date']
input[type='password']
input[type='button']
select
textarea
  padding 0.5em
table
  width 100%
  tr
    th
      color inherit
      position -webkit-sticky
      top 0
      background #0077a1
      color white
      text-align center
      padding 0.3em 0.2em    
 /* tbody
    height 100px !important
    position relative
    overflow auto
    width 1000px !important
    display block
    tr 
      width 100%*/
li
ul
  list-style none
  margin 0px

nav
  position relative
  width 100%
  height auto
  li
    border-radius 0.5em
    background white
    box-shadow rgba(180,180,180,0.5) 2px 2px 2px
    display inline-block
    vertical-align top
    height 50px
    width 50px
    margin 5px
    padding 1%
    img
      width 90%
      height 90%
      margin 5%

textarea
  display inline-block
  height 6em
  width 100%
  margin 0.3em auto !important

#headerIng
  img
    width 50%

#contenedor
  width 98%
  text-align center
  padding 1em 1%
  #acciones
    text-align justify
    width auto
    margin 0.2em 5% 0em
    h3
    ul
    li
      display inline-block
      vertical-align middle
    h3
      text-align left
      width 40%
    ul
      list-style none
      margin 0px
      padding 0px
      text-align center
      width 100%
      li
        -webkit-transition all 0.3s ease-in-out
        border-radius 0.5em
        box-shadow #CCC 0px 0px 7px
        cursor pointer
        height 40px
        margin auto 0.5em 1em
        text-align right
        width 40px
        &:hover
          box-shadow #CCC 0px 0px 15px
          -webkit-transform scale(1.2)

#contenedor div
#contenedor fieldset
  display inline-block
  vertical-align top

#cont_ingreso
  border-radius 0.5em
  background #0077a1
  padding 3em 0.5em
  max-width 400px
  width 300px
  margin 2em auto
  text-align center
  color white
  input
    width 70%
#fondo
  background rgba(0, 0, 0, .75);
  position fixed
  top 0px
  left 0px
  z-index 5
  height 100%
  width 100%
  #opcionBuscar
    width 60%
    height 80%
    margin 5% 20%
    background white
#subMenu
  li
    background #0077a1
    border-radius 1em 0em 1em 0em
    color white
    display inline-block
    height 90px
    margin 0.5em
    padding 1em
    text-align left
    vertical-align top
    width 190px
#nuevo
  background url('../img/nuevo.ico') no-repeat 4px
#grabar
  background url('../img/graba.ico') no-repeat 4px
#buscar
  background url('../img/buscar.ico') no-repeat 4px
#reporte
  background url('../img/reporte.ico') no-repeat 4px
#imprimir
  background url('../img/imprimir.ico') no-repeat 4px
#cancelar
  background url('../img/cancelar.ico') no-repeat 4px
#modulos
  padding 0px
  li
    background red
    cursor pointer
    display inline-block
    padding 1%
    margin 1%
    vertical-align top
    width 46%
#pestanas_conten
  display inline-block
  box-shadow black 0px -1px 6px
  position relative
  margin 0em auto 0.5em
  padding 0.5em
  width 95% 
  form
    section
      display none
.listadoEstados
  border-radius 0.5em
  width 95%
  margin 1em auto
  text-align left
  overflow auto
  section
    max-height 300px
    width 95%
    margin 0.2em 2.5%
    overflow auto
.cuarto
.medio
.octavo
.tercio
  width 100%
  margin 1em auto
  label
    margin 0.5em 0px 0px
  input
  select
    text-align left
    width 95%
    margin 0.5em 0px

.pantallaCompleta
  margin 0em auto 0.5em
  padding 0.5em
  width 95% 


@media screen and (min-width: 768px)
  header
    text-align right
    #logoEthos
      display inline-block
      height 70%
      margin 0.5em   
  nav
    background rgba(183,183,183, 0.5)
    height 90%
    position fixed
    right 0%
    top 5%
    transition all 0.3s ease-in-out  
    width 5px
    z-index 3
    &:hover
      width 200px
      padding 0.5em
  legend
    text-align justify    
  .listadoEstados
    width 40%
  .cuarto
  .medio
  .octavo
  .tercio
    display inline-block
    vertical-align top
  .cuarto
    margin 0.5em 1.3% 0.5em 1%
    width 22%
  .medio
    width 46%
    margin 0.5em 1% 0.5em 1%
  .octavo
    margin 0.5em 1%
    width 10%    
  .tercio
    margin 0.5em 1.9% 0.5em 1%
    width 30%
  #ctrol_pestana
    font-size 1.2em
    text-align left
    li
      background #d4d2d2
      cursor pointer
      display inline-block
      list-style none
      margin 0em
      padding 0.5em 1em
      position relative
      vertical-align top
      width auto
      &:hover
        background white
        z-index 2
        box-shadow rgba(180,180,180,0.5) 2px -2px 2px
  #modulos
    li
      display inline-block
      vertical-align top
      width 21%
      margin 1%